ion-select{
    font-size: 13px;
    padding: 10px;
    padding-left: 20px !important;
    width: 100% !important;
}
.d-flex-align-center{
    display: flex;
    align-items: center;
}
span{
    padding-left: 10px;
}