<ion-toolbar>
  <ion-buttons slot="start" class="header-card">
    <ion-card>
     <ion-button (click)="faqs()">
       <ion-icon name="chevron-back-outline" color="favorite"></ion-icon>
     </ion-button>
    </ion-card>
  </ion-buttons>
   <ion-title class="ion-text-center fs-18 fw-700">Order Details</ion-title>
   <ion-buttons slot="end" class="header-card">
    <ion-card>
      <ion-button routerLink="/addcart" class="mg-0">
        <ion-icon name="cart" color="favorite"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid class="ion-grid">
    <ion-row>
      <ion-col>
        <ion-card class="mg-0">
          <ion-row>
           <ion-col>
             <h3><strong>{{title}}</strong></h3>
             <div margin-bottom *ngFor="let question of que; let i = index">
               <ion-text><h5 class="que" no-margin><strong>{{question}}</strong></h5></ion-text>
               <ion-text><h5 class="ans" no-margin>{{ans[i]}}</h5></ion-text>
             </div>
           </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
