<ion-slides>
  <ion-slide>
     <ion-row>
         <ion-col size="12">
          <ion-card class="home-baner">
             <img src="assets/images/b-1.jpg"/>
          </ion-card>
         </ion-col>
     </ion-row>
  </ion-slide>
  <ion-slide>
     <ion-row>
         <ion-col size="12">
          <ion-card class="home-baner">
             <img src="assets/images/b-2.jpg"/>
          </ion-card>
         </ion-col>
     </ion-row>
  </ion-slide>
  <ion-slide>
     <ion-row>
         <ion-col size="12">
          <ion-card class="home-baner">
             <img src="assets/images/b-3.jpg"/>
          </ion-card>
         </ion-col>
     </ion-row>
  </ion-slide>
</ion-slides>
