<ion-app>
  <ion-content>
  
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="bdr-15">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <!-- <ion-label class="d-none">Home</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="categories">
          <ion-icon name="apps-outline"></ion-icon>
          <!-- <ion-label class="d-none">Categories</ion-label> -->
        </ion-tab-button>
   
        <ion-tab-button tab="notifications">
          <ion-icon name="notifications-outline"></ion-icon>
          <!-- <ion-label class="d-none">Notifications</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="addcart">
          <ion-icon name="bag-add-outline"></ion-icon>
          <!-- <ion-label class="d-none">Mycart</ion-label> -->
        </ion-tab-button>
    
        <ion-tab-button tab="settings">
          <ion-icon name="settings-outline"></ion-icon>
          <!-- <ion-label class="d-none">Settings</ion-label> -->
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
    </ion-content>
    <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>