<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="header-card">
      <ion-card>
       <ion-button routerLink="/home">
         <ion-icon name="chevron-back-outline" color="favorite"></ion-icon>
       </ion-button>
      </ion-card>
    </ion-buttons>
     <ion-title class="ion-text-center fs-18 fw-700">privacy_policy</ion-title>
     <!-- <ion-buttons slot="end" class="header-card">
      <ion-card>
        <ion-button routerLink="/addcart" class="mg-0">
          <ion-icon name="cart" color="favorite"></ion-icon>
        </ion-button>
      </ion-card>
     </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-grid">
  <ion-row>
    <ion-col>
      <p class="fs-15">
        {{privacy_policy}}
      </p>
      <p class="fs-15">
        {{privacy_policy}}
      </p>
       <p class="fs-15">
        {{privacy_policy}}
      </p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
