<ion-app>
  <ion-header>
      <ion-toolbar color="primary">
          <ion-buttons slot="start" class="mgl-0">
              <!-- <ion-icon name="menu" class="fs-25"></ion-icon> -->
              <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title color="" class="ion-text-center">Profile</ion-title>
          <!-- <ion-searchbar animated></ion-searchbar> -->
          <!-- <ion-buttons slot="end" routerLink="productlist">
              <ion-icon name="cart" class="fs-25"></ion-icon>
          </ion-buttons> -->
      </ion-toolbar>
  </ion-header>
</ion-app>