<ion-app>
  <!-- <ion-header> -->
    <ion-toolbar>
      <ion-buttons slot="start" class="header-card">
       <ion-card>
        <ion-button (click)="previous()">
          <ion-icon name="chevron-back-outline" color="favorite"></ion-icon>
        </ion-button>
       </ion-card>
      </ion-buttons>
      <ion-title class="ion-text-center fs-18 fw-700">Product details</ion-title>
      <ion-buttons slot="end" class="header-card">
        <ion-card>
          <ion-button>
            <ion-icon name="heart-outline" color="favorite"></ion-icon>
          </ion-button>
        </ion-card>
        <!-- <ion-button routerLink="/addcart" class="mg-0">
          <ion-icon name="cart"></ion-icon>
        </ion-button> -->
      </ion-buttons>
    </ion-toolbar>
  <!-- </ion-header> -->
  <ion-content>
    <ion-grid class="ion-grid">
      <ion-row>
        <ion-col class="ion-col">
          <ion-card class="ion-card">
            <div>
              <img src="assets/images/shirt-1.jpeg"/>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="mgb-0 fs-15">
            LEADER Scout 26T SEA Blue BLACK for Ride 26 T Mountain Cycle
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <ion-icon color="warning" name="star" class="fs-18 pdr-5"></ion-icon>
              <ion-text class="fs-15 fw-700">4.9</ion-text>
              <ion-text class="fs-15" color="light">(120)</ion-text>
            </ion-label>
            <ion-chip class="mg-0 fr">
              <ion-text class="fs-15 fw-700 pr-1" color="primary">$</ion-text>
              <ion-label class="fs-15 fw-700" color="primary">99</ion-label>
            </ion-chip>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-text class="fs-15" color="light">Availlable Sizes</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-buttons class="sizes">
            <ion-button color="medium" fill="outline">
              <ion-text color="dark">3.5</ion-text>
            </ion-button>
            <ion-button color="medium" fill="outline">
              <ion-text color="dark">4</ion-text>
            </ion-button>
            <ion-button color="medium" fill="outline">
              <ion-text color="dark">4.5</ion-text>
            </ion-button>
            <ion-button color="medium" fill="outline">
              <ion-text color="dark">5</ion-text>
            </ion-button>
            <ion-button color="danger" fill="solid">
              <ion-text>5.5</ion-text>
            </ion-button>
            <ion-button fill="outline" color="medium">
              <ion-text color="dark">6</ion-text>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col siz="12">
          <ion-text class="fs-15" color="light">Colors</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-buttons class="color">
            <ion-button color="primary" fill="solid"></ion-button>
            <ion-button color="secondary" fill="solid"></ion-button>
            <ion-button color="success" fill="solid"></ion-button>
            <ion-button color="warning" fill="solid"></ion-button>
            <ion-button color="danger" fill="solid"></ion-button>
            <ion-button color="dark" fill="solid"></ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-text class="fs-15 mgr-10">Description</ion-text>
          <ion-text class="fs-15" color="light">Reviews</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text class="fs-13" color="light">LEADER Scout 26T SEA Blue BLACK for Ride 26 T Mountain Cycle (Single
            Speed, Blue, Black)LEADER Scout 26T SEA Blue BLACK for Ride 26 T Mountain Cycle (Single Speed, Blue, Black)
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="d-flex-center">
          <ion-button color="primary" expand="black" routerLink="/addcart">
            <ion-text class="txt-white">Add To Cart</ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="d-flex-center">
          <ion-button color="favorite" expand="black">
            <ion-select interface="popover" value="1" class="ion-select"> 
              <ion-select-option value="1" slected>1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
            </ion-select>
            <ion-text class="fs-15 fw-700">$99</ion-text>Buy Now
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>



    <!-- <ion-infinite-scroll threshold="100px" id="infinite-scroll">
      <ion-infinite-scroll-content class="singup-scroll">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </ion-content>
</ion-app>