/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root {
    --ion-font-family: 'Ubuntu';
  }
  :root[mode=md] {
    --ion-font-family: 'Ubuntu';
  }
  :root[mode=ios] {
    --ion-font-family: 'Ubuntu';
  }

.ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    --ion-color-contrast: var(--ion-color-favorite-contrast);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    --ion-color-shade: var(--ion-color-favorite-shade);
    --ion-color-tint: var(--ion-color-favorite-tint);
  }

.ion-input {
    --padding-start: 0px;
    --background: #ffc10700;
    // --padding-end:0px !important;
    --inner-padding-end: 0 !important;
    // .item-native{
    //     .item-inner{
    //         padding-inline-end: 0px !important;
    //         padding: 0px !important;
    //         --padding-start:10px !important;
    //     }
    // } 
}

.ion-input-floating {
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
}

.item-has-focus .label-floating.sc-ion-label-md-h:not(.ion-color) {
    font-size: 17px !important;
}

.item-has-value .label-floating.sc-ion-label-md-h {
    font-size: 17px !important;
}

.item-label-floating {
    --min-height: 52px !important;
}

.singup-scroll {
    ion-spinner {
        display: none !important;
    }
}

// .item-label{
//     --min-height:49px !important;
// }
ion-text:focus {
    outline: none !important;
}

// ios
.item-has-value .label-floating.sc-ion-label-ios-h {
    font-size: 17px !important;
}

.item-has-focus .label-floating.sc-ion-label-ios-h {
    font-size: 17px !important;
}

.item-input .sc-ion-label-ios-h {
    margin: 0px !important;
}

// with border ion-input
.ion-input-border{
     border: 2px solid #D0D0D0;
     border-radius: 30px;
    /* --padding-s: 20px; */
    --padding-start: 20px !important;
    --padding-bottom: 7px !important;
    --padding-top: 7px !important;
    input{
        caret-color: var(--ion-color-favorite);
    }
    input::placeholder{
        font-size: 13px;
        }
  
}
// otp border input
.otp-ion-input{
    border: 2px solid #cccc;
    border-radius: 5px;
    --padding-start: 18px !important;
    input{
        caret-color: var(--ion-color-favorite) !important;
    }
}
// header icons
.header-icons {
    ion-button {
        --border-radius: 50% !important;
        width: 38px;
        height: 38px;

        ion-icon {
            font-size: 25px !important;
        }
    }
}

.header-card{
    margin-right: 0px !important;
    ion-card{
        margin: 0px;
        padding: 1px;
        border-radius: 15px;
        ion-button{
            margin-right: 0px !important;
            margin-left: 0px !important;
            ion-icon{
                font-size: 22px;
            }
        }
    }
}
// header buttons
.bbr {
    --border-radius: 50% !important;
}

// ion-toolbar
ion-toolbar {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

// height
.h-0{
    height: 0px !important;
}
.he-160 {
    height: 160px !important;
}

.he-100 {
    height: 100px !important;
}

.he-50 {
    height: 50px !important;
}

// width
.wi-100 {
    width: 100px !important;
}

.wi-50 {
    width: 50px !important;
}

// text-ellipses
.text-ellipses {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// border-radius
.bdr-5 {
    border-radius: 5px !important;
}

.bdr-10 {
    border-radius: 10px !important;
}

.bdr-15 {
    border-radius: 15px !important;
}

.bdr-20 {
    border-radius: 20px !important;
}

.bdr-50 {
    border-radius: 50% !important;
}

.bdr-100 {
    border-radius: 100% !important;
}

// borders
.brd-1 {
    border: 1px solid #b9bbc1;
}

.brd-2 {
    border: 2px solid #b9bbc1;
}

// d-flex
.d-flex-end {
    display: flex;
    justify-content: flex-end;
}

.d-flex-center {
    display: flex;
    justify-content: center;
}

// flot
.fl {
    float: left;
}

.fr {
    float: right;
}

// font-sizes
.fs-5 {
    font-size: 5px !important;
}

.fs-9 {
    font-size: 9px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-21 {
    font-size: 21px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-23 {
    font-size: 23px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-27 {
    font-size: 27px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-29 {
    font-size: 29px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-31 {
    font-size: 31px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-33 {
    font-size: 33px !important;
}

.fs-34 {
    font-size: 34px !important;
}

.fs-35 {
    font-size: 35px !important;
}

.fs-36 {
    font-size: 36px !important;
}

.fs-37 {
    font-size: 37px !important;
}

.fs-38 {
    font-size: 38px !important;
}

.fs-39 {
    font-size: 39px !important;
}

.fs-40 {
    font-size: 40px !important;
}

// font weight
.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.fw-1000 {
    font-weight: 1000 !important;
}

// margins
.mg-auto {
    margin: auto !important;
}

.mg-0 {
    margin: 0px !important;
}

.mg-1 {
    margin: 1px !important;
}

.mg-5 {
    margin: 5px !important;
}

.mg-10 {
    margin: 10px !important;
}

.mg-15 {
    margin: 15px !important;
}

.mg-20 {
    margin: 20px !important;
}

.mg-25 {
    margin: 25px !important;
}

.mg-30 {
    margin: 30px !important;
}

.mg-35 {
    margin: 35px !important;
}

.mg-40 {
    margin: 40px !important;
}

// margin-left
.mgl-auto {
    margin-left: auto !important;
}

.mgl-0 {
    margin-left: 0px !important;
}

.mgl-1 {
    margin-left: 1px !important;
}

.mgl-5 {
    margin-left: 5px !important;
}

.mgl-10 {
    margin-left: 10px !important;
}

.mgl-15 {
    margin-left: 15px !important;
}

.mgl-20 {
    margin-left: 20px !important;
}

.mgl-25 {
    margin-left: 25px !important;
}

.mgl-30 {
    margin-left: 30px !important;
}

.mgl-35 {
    margin-left: 35px !important;
}

.mgl-40 {
    margin-left: 40px !important;
}

// margin-right
.mgr-auto {
    margin-right: auto !important;
}

.mgr-0 {
    margin-right: 0px !important;
}

.mgr-1 {
    margin-right: 1px !important;
}

.mgr-5 {
    margin-right: 5px !important;
}

.mgr-10 {
    margin-right: 10px !important;
}

.mgr-15 {
    margin-right: 15px !important;
}

.mgr-20 {
    margin-right: 20px !important;
}

.mgr-25 {
    margin-right: 25px !important;
}

.mgr-30 {
    margin-right: 30px !important;
}

.mgr-35 {
    margin-right: 35px !important;
}

.mgr-40 {
    margin-right: 40px !important;
}

// margin bottom
.mgb-auto {
    margin-bottom: auto !important;
}

.mgb-0 {
    margin-bottom: 0px !important;
}

.mgb-1 {
    margin-bottom: 1px !important;
}

.mgb-5 {
    margin-bottom: 5px !important;
}
.mgb-7 {
    margin-bottom: 7px !important;
}
.mgb-10 {
    margin-bottom: 10px !important;
}

.mgb-15 {
    margin-bottom: 15px !important;
}

.mgb-20 {
    margin-bottom: 20px !important;
}

.mgb-25 {
    margin-bottom: 25px !important;
}

.mgb-30 {
    margin-bottom: 30px !important;
}

.mgb-35 {
    margin-bottom: 35px !important;
}

.mgb-40 {
    margin-bottom: 40px !important;
}

// margin top
.mgt-auto {
    margin-top: auto !important;
}

.mgt-0 {
    margin-top: 0px !important;
}

.mgt-1 {
    margin-top: 1px !important;
}

.mgt-5 {
    margin-top: 5px !important;
}
.mgt-7 {
    margin-top: 7px !important;
}
.mgt-10 {
    margin-top: 10px !important;
}

.mgt-15 {
    margin-top: 15px !important;
}

.mgt-20 {
    margin-top: 20px !important;
}

.mgt-25 {
    margin-top: 25px !important;
}

.mgt-30 {
    margin-top: 30px !important;
}

.mgt-35 {
    margin-top: 35px !important;
}

.mgb-40 {
    margin-top: 40px !important;
}

// padding
.pd-0 {
    padding: 0px !important;
}

.pd-1 {
    padding: 1px !important;
}

.pd-2 {
    padding: 2px !important;
}

.pd-3 {
    padding: 3px !important;
}

.pd-4 {
    padding: 4px !important;
}

.pd-5 {
    padding: 5px !important;
}

.pd-6 {
    padding: 6px !important;
}

.pd-7 {
    padding: 7px !important;
}

.pd-8 {
    padding: 8px !important;
}

.pd-9 {
    padding: 9px !important;
}

.pd-10 {
    padding: 10px !important;
}
.pd-15 {
    padding: 15px !important;
}
.pd-20 {
    padding: 20px !important;
}

// padding left
.pdl-0 {
    padding-left: 0px !important;
}

.pdl-1 {
    padding-left: 1px !important;
}

.pdl-5 {
    padding-left: 5px !important;
}

.pdl-10 {
    padding-left: 10px !important;
}

.pdl-15 {
    padding-left: 15px !important;
}

// padding right
.pdr-0 {
    padding-right: 0px !important;
}

.pdr-1 {
    padding-right: 1px !important;
}

.pdr-5 {
    padding-right: 5px !important;
}

.pdr-10 {
    padding-right: 10px !important;
}

.pdr-15 {
    padding-right: 15px !important;
}

// padding top
.pdt-0 {
    padding-top: 0px !important;
}

.pdt-1 {
    padding-top: 1px !important;
}

.pdt-5 {
    padding-top: 5px !important;
}

.pdt-10 {
    padding-top: 10px !important;
}

// padding bottom
.pdb-0 {
    padding-bottom: 0px !important;
}

.pdb-1 {
    padding-bottom: 1px !important;
}

.pdb-5 {
    padding-bottom: 5px !important;
}

.pdb-10 {
    padding-bottom: 10px !important;
}

// ion-grid
.ion-grid {
    --ion-grid-padding: 10px;
}

// colors
.color {
    ion-button {
        --border-radius: 50% !important;
        width: 30px;
        height: 30px;
        margin-right: 5px !important;
    }
}

.sizes {
    ion-button {
        --border-radius: 50% !important;
        width: 35px;
        height: 35px;
        margin-right: 5px !important;
    }
}

// text color
.txt-white {
    color: #ffffff;
}
.txt-silver{
    color: #D0D0D0 !important;
}
// .txt-gray{
//     color:rgb(192,192,192,0.1);
// }
// background colors
.bg-gray{
    --background:rgb(192,192,192,0.1) !important;
}
.bg-silver{
    background: #D0D0D0;
}
.bg-color {
    --background: #ffc10794;
}
// ion-menu-button
// ion-searchbar {
//     --background:rgb(192,192,192,0.3) !important;
//     .searchbar-input-container {
//         .searchbar-input {
//             border-radius: 30px !important;
//         }
//     }
// }
ion-searchbar {
    // --background:rgb(192,192,192,0.3) !important;
    .searchbar-input-container {
        .searchbar-input {
            border-radius: 30px !important;
            // color:#999999 !important;
        }
        .searchbar-search-icon.sc-ion-searchbar-md{
            color:#999999 !important;
        }
        .searchbar-clear-button.sc-ion-searchbar-md{
            color:#999999 !important;
        }
    }
}

// ions search

ion-searchbar {
    // --background:rgb(192,192,192,0.3) !important;
    .searchbar-input-container {
        .searchbar-input {
            border-radius: 30px !important;
            // color:#999999 !important;
            padding-inline-start: 45px !important;
        }
        .searchbar-search-icon.sc-ion-searchbar-ios{
            color:#999999 !important;
        }
        .searchbar-clear-button.sc-ion-searchbar-ios{
            color:#999999 !important;
        }
    }
}

// action sheet
.action-sheet-container.sc-ion-action-sheet-md{
    display: flex;
    justify-content: center !important;
    width: 90% !important;
    margin: auto;
    .action-sheet-group.sc-ion-action-sheet-md{
        margin-bottom: 1px;
        border-radius: 5px;
    }
    .action-sheet-group.action-sheet-group-cancel.sc-ion-action-sheet-md{
        background-color: #0066ff;
        color: #ffffff;
        span{
            color: #ffffff !important;
            justify-content: center;
        }
    }
}
.in-segment-color .segment-button-checked .button-native {
    color: var(--ion-color-dark) !important;
}

// bootstrap modal
.modal-backdrop.show{
    opacity: 0 !important;
}

// ion-range
ion-range{
        // left: 44.7619% !important;
        --knob-background:red;
        // --bar-background-active: #02a7de;
        // --bar-background: #02a7de;
        // --bar-height: 6px;
        // --knob-size: 18px;
        // --knob-border-radius: 50%;
        // --bar-border-radius: 20px;
        // --knob-box-shadow: 0px 0px 0px 3px #fff;
}
.range-c{
        .range-bar{
            width: 0% !important;
        }
}
// text-transform
.text-c{
    text-transform: capitalize;
}
.text-l{
    text-transform: lowercase;
}
.text-u{
    text-transform: uppercase;
}
