<ion-app class="bdr-15">
  <!-- <ion-header> -->
      <ion-toolbar>
          <ion-buttons slot="start" class="header-card">
              <!-- <ion-icon name="menu"></ion-icon> -->
           <ion-card class="">
              <ion-button  routerLink="/home">
                <ion-icon name="chevron-back-outline" color="favorite"></ion-icon>
              </ion-button>
           </ion-card>
          </ion-buttons>
          <!-- <ion-title color="" class="ion-text-center fs-18 fw-700">Home</ion-title> -->
          <ion-searchbar animated></ion-searchbar>
      </ion-toolbar>
  <!-- </ion-header>  -->
  <ion-content>
      <ion-grid class="ion-grid">
        <ion-row routerLink="/productdetails">
          <ion-col size="6">
              <ion-card class="ion-card">
                  <div>
                      <img src="assets/images/bicycle-1.jpeg" />
                  </div>
                  <ion-card-header class="pd-10">
                    <ion-card-subtitle>Bicycle</ion-card-subtitle>
                    <ion-card-title>
                      <ion-chip class="mg-0">
                          <ion-text  class="fs-15 fw-700 pr-1" color="primary">$</ion-text>
                          <ion-label class="fs-15 fw-700" color="primary">99</ion-label>
                      </ion-chip>
                    </ion-card-title>
                  </ion-card-header>
              </ion-card>
          </ion-col>
          <ion-col size="6">
              <ion-card class="ion-card">
                  <div>
                  <img src="assets/images/smartwatch-1.jpeg"/>
                  </div>
                  <ion-card-header class="pd-10">
                    <ion-card-subtitle>Smart Watch</ion-card-subtitle>
                    <ion-card-title>
                      <ion-chip class="mg-0">
                          <ion-text class="fs-15 fw-700 pr-1" color="primary">$</ion-text>
                          <ion-label class="fs-15 fw-700" color="primary">120</ion-label>
                      </ion-chip>
                    </ion-card-title>
                  </ion-card-header>
              </ion-card>
          </ion-col>
        </ion-row>
        <ion-row routerLink="/productdetails">
          <ion-col size="6">
              <ion-card class="ion-card">
                  <div class="">
                      <img src="assets/images/smartwatch-2.png"/>
                  </div>
                  <ion-card-header class="pd-10">
                    <ion-card-subtitle class="text-ellipses">Oppo OW19W6 Smart Watch, 41mm, Silver Mist</ion-card-subtitle>
                    <ion-card-title>
                      <ion-chip class="mg-0">
                          <ion-text  class="fs-15 fw-700 pr-1" color="primary">$</ion-text>
                          <ion-label class="fs-15 fw-700" color="primary">189</ion-label>
                      </ion-chip>
                    </ion-card-title>
                  </ion-card-header>
              </ion-card>
          </ion-col>
          <ion-col size="6">
              <ion-card class="ion-card">
                  <div>
                  <img src="assets/images/bicycle-1.jpeg"/>
                  </div>
                  <ion-card-header class="pd-10">
                    <ion-card-subtitle>Bi Cycle</ion-card-subtitle>
                    <ion-card-title>
                      <ion-chip class="mg-0">
                          <ion-text class="fs-15 fw-700 pr-1" color="primary">$</ion-text>
                          <ion-label class="fs-15 fw-700" color="primary">150</ion-label>
                      </ion-chip>
                    </ion-card-title>
                  </ion-card-header>
              </ion-card>
          </ion-col>
        </ion-row>
        <ion-row routerLink="/productdetails">
          <ion-col size="6">
              <ion-card class="ion-card">
                  <div>
                      <img src="assets/images/bicycle-2.jpeg"/>
                  </div>
                  <ion-card-header class="pd-10">
                    <ion-card-subtitle>Bicycle</ion-card-subtitle>
                    <ion-card-title>
                      <ion-chip class="mg-0">
                          <ion-text  class="fs-15 fw-700 pr-1" color="primary">$</ion-text>
                          <ion-label class="fs-15 fw-700" color="primary">300</ion-label>
                      </ion-chip>
                    </ion-card-title>
                  </ion-card-header>
              </ion-card>
          </ion-col>
          <ion-col size="6">
              <ion-card class="ion-card">
                  <div>
                  <img src="assets/images/smartwatch-3.jpg"  width="100" class="he-100 pd-10"/>
                  </div>
                  <ion-card-header class="pd-10">
                    <ion-card-subtitle class="text-ellipses">ISO Certified and CDSCO Registered Medical Device</ion-card-subtitle>
                    <ion-card-title>
                      <ion-chip class="mg-0">
                          <ion-text class="fs-15 fw-700 pr-1" color="primary">$</ion-text>
                          <ion-label class="fs-15 fw-700" color="primary">140</ion-label>
                      </ion-chip>
                    </ion-card-title>
                  </ion-card-header>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <ion-infinite-scroll threshold="100px" id="infinite-scroll">
        <ion-infinite-scroll-content class="singup-scroll">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
  </ion-content>
</ion-app>


