<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="header-card">
      <ion-card>
       <ion-button routerLink="/myoders">
         <ion-icon name="chevron-back-outline" color="favorite"></ion-icon>
       </ion-button>
      </ion-card>
    </ion-buttons>
     <ion-title class="ion-text-center fs-18 fw-700">Order Details</ion-title>
     <ion-buttons slot="end" class="header-card">
      <ion-card>
        <ion-button routerLink="/addcart">
            <ion-icon name="cart-outline" color="favorite"></ion-icon>
          </ion-button>
      </ion-card>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-grid">
     <ion-card class="mg-5 pd-10">
       <ion-row>
         <ion-col size="12" class="ion-no-padding">
          <div class="border-bottom pdb-5">
            <ion-text color="medium" class="fs-15">Order ID</ion-text><ion-text  color="medium" class="fs-15 pdr-5 pdl-5">-</ion-text>
            <ion-text color="medium" class="fs-15">0D109065435</ion-text>
          </div>
         </ion-col>
         <ion-col siz="10" class="ion-no-padding">
           <h1 class="fs-15 mgb-0">
            Apple iPhone 12 (Blue, 128 GB) Apple iPhone 12 (Blue, 128 GB) Apple iPhone 12 (Blue, 128 GB) Apple iPhone 12 (Blue, 128 GB) Apple iPhone 12 (Blue, 128 GB)
           </h1>
         </ion-col>
         <ion-col size="2"  class="ion-no-padding">
           <div style="width: 50px;">
             <img src="assets/images/apple-1.jpeg" alt="">
           </div>
         </ion-col>
         <ion-col size="12"  class="ion-no-padding">
           <ion-text>
             Saller
           </ion-text>
           <ion-text>
            :
           </ion-text>
           <ion-text>
            norway
          </ion-text>
         </ion-col>
         <ion-col size="12"  class="ion-no-padding">
          <p class="mgb-5"><ion-chip color="favorite" class="mg-0">₹ 84,900</ion-chip></p>
         </ion-col>
       </ion-row>
     </ion-card>
      <ion-card class="mg-0 mgr-5 mgl-5 pd-10">
        <ion-row class="w-100" (click)="shipping()">
          <ion-col size="2" class="ion-no-padding">
            <div class="ion-range">
              <ion-range min="21" max="72" color="success" dual-knobs="true" [(ngModel)]="dualRange" class="pd-0 pdl-15">
              </ion-range>
            </div>
          </ion-col>
          <ion-col size="10" class="ion-no-padding">
           <div class="mgb-20 ">
            <h1 class="fs-15 mgb-0 fw-600 text-dark">Ordered</h1>
            <ion-text class="fs-12">
              Wed, 3rd May 17
            </ion-text>
           </div>
           <div>
            <h1 class="fs-15 mgb-0 fw-600 text-dark">Cancelled</h1>
            <ion-text class="fs-12">
              Feb 3rd March 19
            </ion-text>
           </div>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-row>
        <ion-col>
          <ion-card class="mg-0 pd-15">
            <ion-text class="fs-15 d-flex-center" color="dark">
              Need Help ?
            </ion-text>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
 </ion-content>