<ion-app>
    <!-- <ion-header> -->
        <ion-toolbar>
            <ion-buttons slot="start" class="header-icons mgl-0">
                <!-- <ion-icon name="menu"></ion-icon> -->
                <ion-card class="pd-5 bdr-20 mg-0">
                 <ion-menu-button color="favorite" shape="round"></ion-menu-button>
                </ion-card>
            </ion-buttons>
            <!-- <ion-title color="" class="ion-text-center fs-18 fw-700">Notifications</ion-title> -->
            <ion-searchbar animated></ion-searchbar>
            <ion-buttons slot="end" class="header-card">
                <ion-card>
                  <ion-button routerLink="/addcart">
                      <ion-icon name="cart-outline" color="favorite"></ion-icon>
                    </ion-button>
                  </ion-card>
                <!-- <ion-icon name="heart" class="fs-25 mgl-10 mgr-10"></ion-icon>
                <ion-button routerLink="/addcart"><ion-icon name="cart"></ion-icon></ion-button> -->
            </ion-buttons>
        </ion-toolbar>
    <!-- </ion-header> -->
    <ion-content>
        <ion-grid class="ion-grid">
            <ion-row class="mgb-15">
                <ion-card class="mg-0">
                    <ion-row>
                        <ion-col size="2">
                            <ion-card class="mg-0">
                                <div class="d-flex justify-content-center">
                                    <img src="assets/images/shirt-2.jpeg" />
                                </div>
                            </ion-card>
                        </ion-col>
                        <ion-col size="10">
                            <ion-text class="fs-15" color="dark">LEADER Scout 26T SEA Blue BLACK for Ride 26 T Mountain
                                Cycle (Single Speed, Blue)
                            </ion-text>
                        </ion-col>
                        <ion-col size="10" offset="2">
                            <ion-text class="fs-13" color="light">
                                9 days ago
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-row>
            <ion-row class="mgb-15">
                <ion-card class="mg-0">
                    <ion-row>
                        <ion-col size="2">
                            <ion-card class="mg-0">
                                <div class="d-flex justify-content-center">
                                    <img src="assets/images/shirt-1.jpeg" />
                                </div>
                            </ion-card>
                        </ion-col>
                        <ion-col size="10">
                            <ion-text class="fs-15" color="dark">LEADER Scout 26T SEA Blue BLACK for Ride 26 T Mountain
                                Cycle (Single Speed, Blue)
                            </ion-text>
                        </ion-col>
                        <ion-col size="10" offset="2">
                            <ion-text class="fs-13" color="light">
                                15 days ago
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-row>
            <ion-row class="mgb-15">
                <ion-card class="mg-0">
                    <ion-row>
                        <ion-col size="2">
                            <ion-card class="mg-0">
                                <div class="d-flex justify-content-center">
                                    <img src="assets/images/smartwatch-1.jpeg" />
                                </div>
                            </ion-card>
                        </ion-col>
                        <ion-col size="10">
                            <ion-text class="fs-15" color="dark">LEADER Scout 26T SEA Blue BLACK for Ride 26 T Mountain
                                Cycle (Single Speed, Blue)
                            </ion-text>
                        </ion-col>
                        <ion-col size="10" offset="2">
                            <ion-text class="fs-13" color="light">
                                20 days ago
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-row>
            <ion-row class="mgb-15">
                <ion-card class="mg-0">
                    <ion-row>
                        <ion-col size="2">
                            <ion-card class="mg-0">
                                <div class="d-flex justify-content-center">
                                    <img src="assets/images/dress-1.jpeg" />
                                </div>
                            </ion-card>
                        </ion-col>
                        <ion-col size="10">
                            <ion-text class="fs-15" color="dark">LEADER Scout 26T SEA Blue BLACK for Ride 26 T Mountain
                                Cycle (Single Speed, Blue)
                            </ion-text>
                        </ion-col>
                        <ion-col size="10" offset="2">
                            <ion-text class="fs-13" color="light">
                                22 days ago
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-row>
        </ion-grid>

        <!-- <ion-infinite-scroll threshold="100px" id="infinite-scroll">
            <ion-infinite-scroll-content class="singup-scroll">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll> -->
    </ion-content>
</ion-app>